
@{
    ViewBag.Title = "Index";

    <div class="container p-3 my-3 bg-dark text-white">
        <p class="h3 text-center">Deseja solicitar um novo empréstimo? <button type="button" class="btn btn-dark">Solicitar</button></p>
    </div>

}
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Empréstimo R$: 9.600,00</a></li>
    <li><a data-toggle="tab" href="#menu1">Empréstimo R$: 10.600,00</a></li>
    <li><a data-toggle="tab" href="#menu2">Empréstimo R$: 29.600,00</a></li>
</ul>
<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <div>
            <div class="panel panel-defaul">
                <div class="panel-body bg-success">
                    <div class="row">
                        <div class="col-md-4 text-left"><h4>Empréstimo 1/4</h4></div>
                        <div class="col-md-4 text-center"><h4>R$: 400,00</h4></div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4 text-left"><span class="label label-warning">Vencimento: 10/05/2021</span></div>
                        <div class="col-md-4 text-center"><button type="button" class="btn btn-primary btn-xs">Imprimir Recibo</button></div>
                        <div class="col-md-4 text-right"><span class="label label-success right">Pago em: 09/05/2021</span></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body bg-success">
                    <div class="row">
                        <div class="col-md-4 text-left"><h4>Empréstimo 2/4</h4></div>
                        <div class="col-md-4 text-center"><h4>R$: 400,00</h4></div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4 text-left"><span class="label label-warning">Vencimento: 10/06/2021</span></div>
                        <div class="col-md-4 text-center"><button type="button" class="btn btn-primary btn-xs">Imprimir Recibo</button></div>
                        <div class="col-md-4 text-right"><span class="label label-success right">Pago em: 10/05/2021</span></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body bg-danger">
                    <div class="row">
                        <div class="col-md-4 text-left"><h4>Empréstimo 3/4</h4></div>
                        <div class="col-md-4 text-center"><h4>R$: 400,00</h4></div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4 text-left"><span class="label label-warning">Vencimento: 10/07/2021</span></div>
                        <div class="col-md-4 text-center"><button type="button" class="btn btn-primary btn-xs">Pagar</button></div>
                        <div class="col-md-4 text-right"><span class="label label-danger right">Parcela em atraso</span></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 text-left"><h4>Empréstimo 4/4</h4></div>
                        <div class="col-md-4 text-center"><h4>R$: 400,00</h4></div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4 text-left"><span class="label label-warning">Vencimento: 10/08/2021</span></div>
                        <div class="col-md-4 text-center"><button type="button" class="btn btn-primary btn-xs disabled">Bloqueado</button></div>
                        <div class="col-md-4 text-right"><span class="label label-info right">Em aberto</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 text-left"><span class="label label-default">Total pago R$: 800,00</span></div>
            <div class="col-md-3 text-right"><span class="label label-default">Total restante R$: 8.800,00</span></div>
        </div>
    </div>
    <div id="menu1" class="tab-pane fade">
        <div>
            <div class="panel panel-defaul">
                <div class="panel-body bg-success">
                    <div class="row">
                        <div class="col-md-4 text-left"><h4>Empréstimo 1/4</h4></div>
                        <div class="col-md-4 text-center"><button type="button" class="btn btn-primary btn-xs disabled">Bloqueado</button></div>
                        <div class="col-md-4 text-center"><h4>R$: 500,00</h4></div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4 text-left"><span class="label label-warning">Vencimento: 10/05/2021</span></div>
                        <div class="col-md-4 text-center"><button type="button" class="btn btn-primary btn-xs">Imprimir Recibo</button></div>
                        <div class="col-md-4 text-right"><span class="label label-success right">Pago em: 09/05/2021</span></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body bg-success">
                    <div class="row">
                        <div class="col-md-4 text-left"><h4>Empréstimo 2/4</h4></div>
                        <div class="col-md-4 text-center"><h4>R$: 500,00</h4></div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4 text-left"><span class="label label-warning">Vencimento: 10/06/2021</span></div>
                        <div class="col-md-4 text-center"><button type="button" class="btn btn-primary btn-xs">Imprimir Recibo</button></div>
                        <div class="col-md-4 text-right"><span class="label label-success right">Pago em: 10/05/2021</span></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body bg-danger">
                    <div class="row">
                        <div class="col-md-4 text-left"><h4>Empréstimo 3/4</h4></div>
                        <div class="col-md-4 text-center"><h4>R$: 500,00</h4></div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4 text-left"><span class="label label-warning">Vencimento: 10/07/2021</span></div>
                        <div class="col-md-4 text-center"><button type="button" class="btn btn-primary btn-xs">Pagar</button></div>
                        <div class="col-md-4 text-right"><span class="label label-danger right">Parcela em atraso</span></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 text-left"><h4>Empréstimo 4/4</h4></div>
                        <div class="col-md-4 text-center"><h4>R$: 500,00</h4></div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4 text-left"><span class="label label-warning">Vencimento: 10/08/2021</span></div>
                        <div class="col-md-4 text-center"><button type="button" class="btn btn-primary btn-xs disabled">Bloqueado</button></div>
                        <div class="col-md-4 text-right"><span class="label label-info right">Em aberto</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 text-left"><span class="label label-default">Total pago R$: 1000,00</span></div>
            <div class="col-md-3 text-right"><span class="label label-default">Total restante R$: 12.000,00</span></div>
        </div>
    </div>
    <div id="menu2" class="tab-pane fade">
        <div>
            <div class="panel panel-defaul">
                <div class="panel-body bg-success">
                    <div class="row">
                        <div class="col-md-4 text-left"><h4>Empréstimo 1/4</h4></div>
                        <div class="col-md-4 text-center"><h4>R$: 900,00</h4></div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4 text-left"><span class="label label-warning">Vencimento: 10/05/2021</span></div>
                        <div class="col-md-4 text-center"><button type="button" class="btn btn-primary btn-xs">Imprimir Recibo</button></div>
                        <div class="col-md-4 text-right"><span class="label label-success right">Pago em: 09/05/2021</span></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body bg-success">
                    <div class="row">
                        <div class="col-md-4 text-left"><h4>Empréstimo 2/4</h4></div>
                        <div class="col-md-4 text-center"><h4>R$: 900,00</h4></div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4 text-left"><span class="label label-warning">Vencimento: 10/06/2021</span></div>
                        <div class="col-md-4 text-center"><button type="button" class="btn btn-primary btn-xs">Imprimir Recibo</button></div>
                        <div class="col-md-4 text-right"><span class="label label-success right">Pago em: 10/05/2021</span></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body bg-danger">
                    <div class="row">
                        <div class="col-md-4 text-left"><h4>Empréstimo 3/4</h4></div>
                        <div class="col-md-4 text-center"><h4>R$: 900,00</h4></div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4 text-left"><span class="label label-warning">Vencimento: 10/07/2021</span></div>
                        <div class="col-md-4 text-center"><button type="button" class="btn btn-primary btn-xs">Pagar</button></div>
                        <div class="col-md-4 text-right"><span class="label label-danger right">Parcela em atraso</span></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 text-left"><h4>Empréstimo 4/4</h4></div>
                        <div class="col-md-4 text-center"><h4>R$: 900,00</h4></div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4 text-left"><span class="label label-warning">Vencimento: 10/08/2021</span></div>
                        <div class="col-md-4 text-center"><button type="button" class="btn btn-primary btn-xs disabled">Bloqueado</button></div>
                        <div class="col-md-4 text-right"><span class="label label-info right">Em aberto</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 text-left"><span class="label label-default">Total pago R$: 1800,00</span></div>
            <div class="col-md-3 text-right"><span class="label label-default">Total restante R$: 19.800,00</span></div>
        </div>
    </div>
</div>
