@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Este projeto surgiu como uma forma de estudos para que possamos aprender algumas coisas básicas relacionada a linguagem C#.
    O projeto consiste em que seja criado um sistema bancário com operações básicas, nele estamos testando nossos conhecimentos
    fazendo operações de CRUD básicas para o usuário, funções de login/logout, detalhes e edição.</p>
<p>Para as contas realizaremos operações de tranferência, saque, empréstimos (podendo ser pago por parcelas) e uma função 
    de pagamento de parcelas além de uma função de exibição de extrato.
</p>
