@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Banco dos Panquecas</h1>
    <p class="lead">Um banco feito com carinho pensando em nossos clientes.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Saiba Mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Abra sua conta</h2>
        <p>
            Tenha todas as vantagens de um banco com as praticidades da internet. Abra sua conta hoje mesmo!!!
        </p>
        <p><a class="btn btn-default" href="https://localhost:44378/Usuario/Create">Cadastre-se &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Conheça nossos serviços:</h2>
        <p>Oferecemos serviços de empréstimos, saques, depositos e pagamentos de parcelas, tudo isso com juros baixos.</p>
        <p><a class="btn btn-default" href="#">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sobre nós</h2>
        <p>Conheça um pouco sobre a nossa história.</p>
        <br />
        <p><a class="btn btn-default" href="https://localhost:44378/home/about">Saiba mais &raquo;</a></p>
    </div>
</div>