@{
    ViewBag.Title = "Depositos";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>Página para depositos ainda sem operações implementadas</p>
    </div>
</body>
</html>
