@{
    ViewBag.Title = "Depositos";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="jumbotron" style="margin-top:10%;">
        <div class="row">
            <h1 class="text-center">Deposito</h1>
            <div class="col-md-8 text-center">

                <form method="post" class="form-group">
                    <h3 class="text-center">Valor do Depósito</h3>
                    <hr />
                    <div class="text-center">
                        <input class="form-control" style="margin-left:30%;" type="text" id="Valor" name="Valor" placeholder="0,00" />
                    </div>
                    <hr />


                    <fieldset class="text-left" style="border:2px;margin-left:30%;">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="BOLETO">
                            <label class="form-check-label" for="inlineRadio1">Boleto</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="QRCODE">
                            <label class="form-check-label" for="inlineRadio2">QR Code</label>
                        </div>
                    </fieldset>
                    <hr />
                    <br />

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="" onclick="habilitar(this.checked)">
                            <label class="form-check-label" for="gridCheck">
                                Concordo com os termos e condições
                            </label>
                        </div>
                    </div>
                    <button type="submit" disabled id="salvar" class="btn btn-primary">Depositar</button>

                </form>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" style="max-width:80%;" src="https://th.bing.com/th/id/OIP.qr-yp22npM0TXO2U68POcwHaLS?pid=ImgDet&rs=1" />
            </div>
        </div>

    </div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

<script type="text/javascript">
    function habilitar(selecionado) {
        if (selecionado == true)
            document.getElementById('salvar').disabled = false;
        else
            document.getElementById('salvar').disabled = true;
    }
    $("#Valor").mask('#.##0,00', { reverse: true });
</script>

