@{
    ViewBag.Title = "Transferencia";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>Criação da pagina para transferencias ainda sem operações</p>
    </div>
</body>
</html>
